h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 80px;
  color: #d5ffff;
}

body {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  border: #a1c5ba solid;
}

#playerOne {
  font-family: "Orbitron", sans-serif;
  font-size: 50px;
  margin-right: 50px;
  margin-top: 50px;
  color: rgb(120, 252, 252);
  text-shadow: 0px 0px 10px rgb(120, 252, 252);
}

#playerTwo {
  font-family: "Orbitron", sans-serif;
  font-size: 50px;
  margin-left: 50px;
  margin-top:50px;
  color: rgb(253, 195, 137);
  text-shadow: 0px 0px 25px rgb(190, 68, 53);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.player-one-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-two-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start {
  font-family: "Orbitron", sans-serif;
  font-size: 80px;
  background-color: #4caf50; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}