h1 {
    color: #D5FFFF;

}

body {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

canvas {
    border: #A1C5BA solid;
}

#playerOne {
    color: rgb(120, 252, 252);
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    
    text-shadow: 0px 0px 10px rgb(120, 252, 252);
}

#playerTwo {
    color: rgb(253, 195, 137);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-shadow: 0px 0px 25px rgb(190, 68, 53);
}
